html, body {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	background: url('./media/glitch.PNG'); /* Use a classic tiled background */
	font-family: 'Space Grotesk', serif;
	font-optical-sizing: auto;
	font-style: normal;
	color: white;
	text-shadow: 2px 2px 2px black;
	text-align: center;
	background-color: rgba(0,0,0,1);
}


.container {
    background: black;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

header h1 {
    font-family: 'Cinzel', serif;
    font-size: 32px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

a {
    color: red; /* Change to whatever color you want */
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: underline; /* Optional: underline on hover */
}


main img {
    width: 500px;
    margin-top: 10px;
}

footer {
    margin-top: 20px;
    font-size: 12px;
}

